doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/milligram.min.css')

    script(type='text/javascript', src='/javascripts/jquery.min.js')

    block styles
  body
    block content
