doctype html
html
	head
		meta(charset='utf-8')
		title 
			block title
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		meta(name='apple-mobile-web-app-capable', content='yes')
		link(href='/stylesheets/milligram.min.css', rel='stylesheet')
		link(href='/stylesheets/animate.min.css', rel='stylesheet')
		//- link(href='/stylesheets/bootstrap-responsive.min.css', rel='stylesheet')
		//- link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600', rel='stylesheet')
		link(href='/admin/css/font-awesome.css', rel='stylesheet')
		link(href='/stylesheets/font-awesome.min.css', rel='stylesheet')

		link(rel="icon" href="/imgs/favicon-16x16.png" sizes="16x16")
		link(rel="icon" href="/imgs/favicon-16x16.png" sizes="32x32")

		script(type='text/javascript', src='/javascripts/jquery.min.js')

		style.
			/* Custom size */
			.button-small {
			  font-size: .8rem;
			  height: 2.8rem;
			  line-height: 2.8rem;
			  padding: 0 1.5rem;
			}
			.swal-button {
			  padding: 7px 19px;
			  border-radius: 2px;
			  font-size: 12px;
			  line-height:1;
			  border: 2px solid #fefefe;
			}
			.swal-text {text-align:center; padding:5px;}
			
		block styles
	body
		block content

	script(type='text/javascript', src='/javascripts/sweetalert.min.js')
	//- script(type='text/javascript', src='/javascripts/anijs-min.js')
	//- script(type='text/javascript', src='/javascripts/anijs-jquery-event-system-min.js')
	block scripts